body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.75;
  color: #7A7A7A; }

.h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  margin-top: 4px;
  margin-bottom: 31px;
  letter-spacing: -1.3px;
  color: #000; }

.h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.55;
  letter-spacing: -0.5px;
  color: #000000;
  margin-bottom: 30px; }

p {
  max-width: 300px; }

strong {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 1.1px; }
