@font-face {
	font-family: "Lato-Black";
	src: url("../fonts/Lato-Black/Lato-Black.eot");
	src: url("../fonts/Lato-Black/Lato-Black.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Lato-Black/Lato-Black.woff") format("woff"),
	url("../fonts/Lato-Black/Lato-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Lato-BlackItalic";
	src: url("../fonts/Lato-BlackItalic/Lato-BlackItalic.eot");
	src: url("../fonts/Lato-BlackItalic/Lato-BlackItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Lato-BlackItalic/Lato-BlackItalic.woff") format("woff"),
	url("../fonts/Lato-BlackItalic/Lato-BlackItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Lato-Light";
	src: url("../fonts/Lato-Light/Lato-Light.eot");
	src: url("../fonts/Lato-Light/Lato-Light.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Lato-Light/Lato-Light.woff") format("woff"),
	url("../fonts/Lato-Light/Lato-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Lato-LightItalic";
	src: url("../fonts/Lato-LightItalic/Lato-LightItalic.eot");
	src: url("../fonts/Lato-LightItalic/Lato-LightItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Lato-LightItalic/Lato-LightItalic.woff") format("woff"),
	url("../fonts/Lato-LightItalic/Lato-LightItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Lato-Medium";
	src: url("../fonts/Lato-Medium/Lato-Medium.eot");
	src: url("../fonts/Lato-Medium/Lato-Medium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Lato-Medium/Lato-Medium.woff") format("woff"),
	url("../fonts/Lato-Medium/Lato-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Lato-MediumItalic";
	src: url("../fonts/Lato-MediumItalic/Lato-MediumItalic.eot");
	src: url("../fonts/Lato-MediumItalic/Lato-MediumItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Lato-MediumItalic/Lato-MediumItalic.woff") format("woff"),
	url("../fonts/Lato-MediumItalic/Lato-MediumItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Lato-Regular";
	src: url("../fonts/Lato-Regular/Lato-Regular.eot");
	src: url("../fonts/Lato-Regular/Lato-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Lato-Regular/Lato-Regular.woff") format("woff"),
	url("../fonts/Lato-Regular/Lato-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}